@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.box{
  position: relative;
  width: 250px;
  height: 250px;
  transform-style: preserve-3d;
  animation: animate 15s linear infinite ;
}
.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}
.box span h2{
  z-index: 1000;
  position: absolute;
  color: #fff;
  top: -50;
  left: 0;
  width: 100%;
  text-align: center;
  text-shadow: 0 0 50px #0f0,
              0 0 100px #0f0,
              0 0 150px #0f0, 
              0 0 200px #0f0, 
              0 0 250px #0f0;
  animation: animate_h2 5s linear infinite;
}
.box span img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes animate{
  0%{
    transform: perspective(1000px) rotateY(0deg);
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}
@keyframes animate_h2{
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}